### Strings and list

In [1]:
## capitalize first upper case and all lower
course_name="Data Science Master"
print(course_name)

Data Science Master

In [3]:
course_name.capitalize()

'Data science master'

### reverse a string

In [5]:
course_name[::-1]

'retsaM ecneicS ataD'

In [6]:
reversed(course_name)

In [10]:
' '.join(reversed(course_name))

'r e t s a M   e c n e i c S   a t a D'

In [33]:
" $ ".join(reversed(course_name))

'r $ e $ t $ s $ a $ M $   $ e $ c $ n $ e $ i $ c $ S $   $ a $ t $ a $ D'

In [16]:
'$'.join("AB")

'A$B'

In [19]:
' '.join(reversed("ant"))

't n a'

In [23]:
' Pwskills '.join(reversed("ant"))

't Pwskills n Pwskills a'

In [24]:
reversed(course_name)

In [34]:
list(reversed(course_name))

['r',
 'e',
 't',
 's',
 'a',
 'M',
 ' ',
 'e',
 'c',
 'n',
 'e',
 'i',
 'c',
 'S',
 ' ',
 'a',
 't',
 'a',
 'D']

In [35]:
str(reversed(course_name))

'<reversed object at 0x7f3e4c44de10>'

In [1]:
name="Manjot singh jo"
print(name)

Manjot singh jo

In [2]:
reversed(name)

In [6]:
"".join(reversed(name))

'oj hgnis tojnaM'

In [10]:
''.join(reversed("ant"))

'tna'

In [12]:
''.join(reversed("abcd"))

'dcba'

In [13]:
" Pw Skills ".join(reversed("ant"))

't Pw Skills n Pw Skills a'

In [18]:
list(reversed("ant"))

['t', 'n', 'a']

In [23]:
str1="Pw is good company"
print(' $ '.join(reversed(str1)))

y $ n $ a $ p $ m $ o $ c $   $ d $ o $ o $ g $   $ s $ i $   $ w $ P

In [9]:
name=input("Please enter your name")
num=(int(input("Please enter the number for who many times you want to repeat your name: ")))
while num >=1:
        print("My name is {} \n".format(name),end="")
       
        
        num-=1
        
        ## you've done it wow manjot

Please enter your name Manjot jot
Please enter the number for who many times you want to repeat your name:  3

My name is Manjot jot
My name is Manjot jot
My name is Manjot jot

In [13]:
for i in ''.join(reversed(name)):
        print(i,end="")

toj tojnaM

In [14]:
for i in tuple(reversed(name)):
      print(i,end="")

toj tojnaM

In [15]:
## removing character from the end of string
course=" PW skills "
print(course.strip(" "))

PW skills

In [16]:
print(course.lstrip(" "))
print(course.rstrip(" "))

PW skills
 PW skills

In [12]:
string="Manjot"

In [13]:
print(string)

Manjot

In [14]:
print(string[0])

M

In [15]:
string[1]

'a'

In [18]:
string[1]="g"

TypeError: 'str' object does not support item assignment

In [19]:
lst=[1,2,4,5]
print(lst)

[1, 2, 4, 5]

In [21]:
lst[0]=10
print(lst)

[10, 2, 4, 5]

In [22]:
## yes list and tuple are mutable their values can be changed and other varibales like string and int are immutable
lst

[10, 2, 4, 5]

In [29]:
## replacing a string words
string_n="Greeting from Pw Skills"
print(string_n.replace("Greeting from Pw Skills","from"))
print(string_n.replace("e","b"))
print(string_n.replace("from","to"))

from
Grbbting from Pw Skills
Greeting to Pw Skills

In [31]:
lst_1=[1,2,3,4]
lst_2=[1,2,3,4]
print(id(lst_1))
print(id(lst_2))

140315275082880
140314974487936

In [32]:
str1="Manjot"
str2="Manjot"
print(id(str1))
print(id(str2))

140314974268016
140314974268016

In [35]:
## Proving that strings are immutuable
string_a="Hello world"
var1=string_a.replace("H","S")
print(id(string_a))
print(id(var1))

## yes they are different acting like list and tuple so, it is proved that strings are immutbale

140314974255600
140314974247856

In [49]:
str1="Hello{}World".format("\t")
print(str1)

Hello	World

str2="Hello \nworld".expandtabs()
print(str2)

In [4]:
str1= " Welcome to pw skills. Welcome to Dat cience course "
print(str1.replace(".",",").replace("Dat", "Data").replace("cience", "Science"))

 Welcome to pw skills, Welcome to Data Science course

In [6]:
## how to check whether the string is upper or lower
print(str1.isupper())

False

In [7]:
str1="manjot"
str1.islower()

True

In [8]:
" ".isspace()

True

In [13]:
## endswith

str1.endswith('T')

True

In [16]:
# start with
str1.startswith('M')

True

In [22]:
## how to check if some number is alphanumeric
value="c2j"
value.isalnum()

True

In [1]:
## Bascially how function is made with for or while loops like 
## try to write some in-built function

In [10]:
## write me a code to count number of character in string
str1="Manjot Singh Dhindsa"

str1.count(:)

SyntaxError: invalid syntax (3055299731.py, line 4)

In [11]:
len(str1)

20

In [15]:
str1.count('')

21

In [33]:
string=input("Please enter the string to count the number of characters in it:")
count=1
for i in range (len(string)):
        count+=1
print(count)

Please enter the string to count the number of characters in it: Manjot Singh Dhindsa

21

In [32]:
string.count('')

21

In [34]:
len(string)

20

In [42]:
stirng="Pw Skills"
count=0
for i in str1:
     print(i))

M
a
n
j
o
t

In [4]:
num=input("Please enter the name to count the character in string:")
count=0
for i in num:
         count+=1
print(count)

Please enter the name to count the character in string: Manjot Singh Dhindsa

20

In [10]:
num=input("Please enter the name to count the character in string:")
count=0
for i in (num):
         count+=1
print(count)

Please enter the name to count the character in string: manot

5

In [12]:
## display every character of string in new line
string=input("Please enter the name to display every character of string:")
for i in string:
    print(i)

Please enter the name to display every character of string: Manjot singh

M
a
n
j
o
t

s
i
n
g
h

In [24]:
string1=input("Please enter the name to display reserve of it: ")
for i in reversed(string):
     print(i)

Please enter the name to display reserve of it:  Manjot Singh

h
g
n
i
s

t
o
j
n
a
M

In [38]:
string2=input("Please enter the name to see the display it character and index wise: ")
count=0
for i in reversed(string2):
    
    print("index [{}] = {}".format(count,i))
    count+=1

Please enter the name to see the display it character and index wise:  jashandeep

index [0] = p
index [1] = e
index [2] = e
index [3] = d
index [4] = n
index [5] = a
index [6] = h
index [7] = s
index [8] = a
index [9] = j

In [57]:
str2="PwSkills"
count=0
for i in str2:
    print(i,count)
    count+=1

P 0
w 1
S 2
k 3
i 4
l 5
l 6
s 7

In [44]:
range (len(str2))

range(0, 9)

In [60]:
string=input("Please enter a string which can be reversed with index numbers:")
count=0
for i in string:
    print("index {} = character {}".format(count,i))
    count+=1

Please enter a string which can be reversed with index numbers: manjot

index 0 = character m
index 1 = character a
index 2 = character n
index 3 = character j
index 4 = character o
index 5 = character t

In [62]:
string=input("Please enter a string which can be reversed with index numbers:")
count=0
for i in reversed(string):
    print("index {} = character {}".format(count,i))
    count+=1

Please enter a string which can be reversed with index numbers: Manjot

index 0 = character t
index 1 = character o
index 2 = character j
index 3 = character n
index 4 = character a
index 5 = character M

In [70]:
## manullay in built reserved function
string=input("Please enter a string which can be reversed with index numbers:")
count=0
for i in string:
    print("index {} = character {}".format(count,i))
    count+=1

Please enter a string which can be reversed with index numbers: mnnjk

index 0 = character m
index 1 = character n
index 2 = character n
index 3 = character j
index 4 = character k

In [20]:
str2="Manjot Singh"
for i in (len(str2),-1,-1):
    print(str2(i))

TypeError: 'str' object is not callable

In [16]:
## print a reverse string with help of function and without the function
string="Manjot"
count=len(string)
for i in reversed(string):
    print("- {}  {} ".format(count,i))
    count-=1

- 6  t
- 5  o
- 4  j
- 3  n
- 2  a
- 1  M

In [18]:
## without reversed function:
string="Hello world"
for i in range(len(string),-1,-1,-1):
       print(string[i])

TypeError: range expected at most 3 arguments, got 4

In [34]:
## while function to reverse a string
string="Manjot"
ch=len(string)-1
while ch >=0:
        print(string[ch])
        ch-=1

t
o
j
n
a
M

In [37]:
string="jot"
ch=len(string)-1
while ch >=0:
        print(string[ch])
        ch=ch-1

t
o
j

In [38]:
ch

-1

In [42]:
string[0]

'j'

In [55]:
string="Jashan"
ch=len(string)-1
while ch>=0:
    print(string[ch],end="")
    ch-=1

nahsaJ

In [54]:
## so basically string is like this ...
print([string[5],string[4],string[3],string[2],string[1],string[0]])

['n', 'a', 'h', 's', 'a', 'J']

In [57]:
name="Manjot"
vowels="AaiIEeOoUu"

for i in name:
    if i in vowels:
         print("{} is a vowel".format(i))
    else:
        print("{}, is not a vowel".format(i))

M, is not a vowel
a is a vowel
n, is not a vowel
j, is not a vowel
o is a vowel
t, is not a vowel

In [2]:
##1 make a program to count each element of string with index number
##2 make a program to reserve a string using function with for loop
##3 make a while program to reserve a string

In [6]:
string=input("Please enter a string to display every element and index number:")
count=0
for i in string:
        count+=1
        print(i,count)

Please enter a string to display every element and index number: Manjot

M 1
a 2
n 3
j 4
o 5
t 6

In [9]:
string1=input("Please enter a string to reserve it with help of reserved ()")
count=0
for i in reversed(string1):
        count+=1
        print(i,count)

Please enter a string to reserve it with help of reserved () Manjot singh

h 1
g 2
n 3
i 4
s 5
  6
t 7
o 8
j 9
n 10
a 11
M 12

In [20]:
string2=input("Please enter a string to manually reverse it:")
reverse=len(string2)-1
while reverse>=0:
        print(string[reverse])
        reverse-=1

Please enter a string to manually reverse it: Mankot

t
o
j
n
a
M

#### List

In [21]:
type([])

list

In [22]:
list(string2)

['M', 'a', 'n', 'k', 'o', 't']

In [32]:
string3="Pw Skill Data Science Master"
list(string3.split(" "))

['Pw ', 'kill Data ', 'cience Master']

In [33]:
string3.split(" ")

['Pw', 'Skill', 'Data', 'Science', 'Master']

In [7]:
lst1=str1.split(" ")
print(lst)

NameError: name 'str1' is not defined

In [16]:
name= "pw skills data science masters"
lst1=name.split()

In [18]:
lst1[3]

'science'

In [11]:
string1="Pw skills Data Science Masters"
lst1=list(string1.split(" "))

In [12]:
print(lst1)

['Pw', 'skills', 'Data', 'Science', 'Masters']

In [13]:
lst1[1]

'skills'

In [19]:
## this is mutable
lst1[2]
lst1[2]="DataS"
print(lst1[2])

DataS

In [21]:
## this proves it is mutbale 
print(lst1)

['Pw', 'skills', 'DataS', 'Science', 'Masters']

In [22]:
lst1[-2]

'Science'

In [32]:
lst1[::-1]

['Masters', 'Science', 'DataS', 'skills', 'Pw']

In [33]:
lst1[::2]

['Pw', 'DataS', 'Masters']

In [36]:
lst1[-4::-2]

['skills']

In [39]:
## print PW 
lst1[-5::-2]

['Pw']

In [45]:
lst1[-5:3:]

['Pw', 'skills', 'DataS']

In [51]:
lst1[-5:3:]

['Pw', 'skills', 'DataS']

In [48]:
lst1

['Pw', 'skills', 'DataS', 'Science', 'Masters']

In [56]:
## Concatenation in list 
lst1+1

TypeError: can only concatenate list (not "int") to list

In [82]:
## adding new element of list 
lst1+['new element',3,"C++",5]

['Pw', 'skills', 'DataS', 'Science', 'Masters', 'new element', 3, 'C++', 5]

In [2]:
## adding multi nested list
lst2=lst1 + [["Hello","Earth","Mars"]]

NameError: name 'lst1' is not defined

In [84]:
print(lst2)

['Pw', 'skills', 'DataS', 'Science', 'Masters', ['Hello', 'Earth', 'Mars']]

In [96]:
lst2[-1][2]

'Mars'

In [100]:
lst2[5][2]

'Mars'

In [22]:
string="Pw skills data science course"
list1=string.split(" ")
list1

['Pw', 'skills', 'data', 'science', 'course']

In [37]:
## concatenation 
list1

['Pw',
 'skills',
 'data',
 'science',
 'course',
 'Pw',
 'skills',
 'data',
 'science',
 'course']

In [35]:
print(list1)

['Pw', 'skills', 'data', 'science', 'course', 'Pw', 'skills', 'data', 'science', 'course']

In [42]:
string2="Pw skills data science masters course"
list2=string2.split(" ")
print(list2)

['Pw', 'skills', 'data', 'science', 'masters', 'course']

In [58]:
## if you know the strings 
if "science" in list2:
     print("present sir")

present sir

In [77]:
## nice you are done 
for i in list2:
    if i=="science":
        print(i)
        break

science

In [80]:
## if you don't know the strings
for elements in list2:
    if elements=="data":
        print("{} :You got it".format(elements))
        break

data :You got it

In [87]:
### check elements inside a list
list3=[1,2,3,4]
if 4 in list3:
    print("yellow")

yellow

In [88]:
5 in list3

False

In [89]:
4 in list3

True

In [91]:
4.00 in list3

True

In [93]:
lst1=["Zebra","Moneky","Donkey","Lion"]
lst2=[5,6,2,9,5,8,6]

In [97]:
print(max(lst1))
print(max(lst2))

Zebra
9

In [96]:
print(min(lst1))
print(min(lst2))

Donkey
2

In [2]:
## append update the list
string="HELLO EVERYONE ANIMALS, DOGS AND"
list5=string.split(" ")
list5

['HELLO', 'EVERYONE', 'ANIMALS,', 'DOGS', 'AND']

In [3]:
list5.append("HUMANS")
list5

['HELLO', 'EVERYONE', 'ANIMALS,', 'DOGS', 'AND', 'HUMANS']

In [9]:
## nested list with appned update list
list5.append(["ALIENS AND WHOLE UNIVERSE"])
print(list5)

['HELLO', 'EVERYONE', 'ANIMALS,', 'DOGS', 'AND', 'HUMANS', ['ALIENS AND WHOLE UNIVERSE'], ['ALIENS AND WHOLE UNIVERSE'], ['ALIENS AND WHOLE UNIVERSE'], ['ALIENS AND WHOLE UNIVERSE']]

In [14]:
## pop removes last element
string22="Manjot Singh DHINDSA FROM BIAS PIND"
LIST1=string22.split(" ")
LIST1

['Manjot', 'Singh', 'DHINDSA', 'FROM', 'BIAS', 'PIND']

In [28]:
removed=LIST1.pop()
removed

'Manjot'

In [16]:
LIST1

['Manjot', 'Singh', 'DHINDSA', 'FROM', 'BIAS']

In [21]:
removed_element=LIST1.pop(2)
removed_element

'BIAS'

In [29]:
LIST1 + [removed_element, removed]

['BIAS', 'Manjot']

In [39]:
## searching and sorting in list
new_list=['q','e','f','s','t']

In [45]:
## this is inplace operation 
new_list.reverse()
new_list

['t', 's', 'f', 'e', 'q']

In [65]:
## sorting  it by all elements in ascending order  and desceding order 
new_list.sort(reverse=True)
new_list

['t', 's', 'q', 'f', 'e']

In [51]:
new_list

['e', 'f', 'q', 's', 't']

In [ ]:
# for desceding order
new_list.sort(re

In [54]:
## extend: when you have add more than one element than by default you get nested list, if don't
## want to get that use .extened()
## see this example
oldlist=[1,2,4,5,6,0]
oldlist

[1, 2, 4, 5, 6, 0]

In [55]:
oldlist.append(10)

In [56]:
oldlist

[1, 2, 4, 5, 6, 0, 10]

In [62]:
oldlist.append(["PW" , "SKILLS"])
oldlist

[1, 2, 4, 5, 6, 0, 10, ['PW', 'SKILLS'], ['PW', 'SKILLS']]

In [63]:
## here comes extend
oldlist.extend(["PW" , "SKILLS"])
oldlist

[1, 2, 4, 5, 6, 0, 10, ['PW', 'SKILLS'], ['PW', 'SKILLS'], 'PW', 'SKILLS']

## nested list

In [66]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# make a list of list to form a matrix
matrix=[lst_1,lst_2,lst_3]

In [67]:
## matrix
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [68]:
## now tell me how to six value
matrix[1][2]

6

In [69]:
matrix[-2][2]

6

In [73]:
## 9
matrix[2][1:]

[8, 9]

In [84]:
matrix[0:1]

[[1, 2, 3]]

## list comprehension

In [2]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
## using list comprehension print even number and display odd on odd numbers
[i if i%2==0 else "Odd" for i in range(20)]

[0,
 'Odd',
 2,
 'Odd',
 4,
 'Odd',
 6,
 'Odd',
 8,
 'Odd',
 10,
 'Odd',
 12,
 'Odd',
 14,
 'Odd',
 16,
 'Odd',
 18,
 'Odd']

In [6]:
[i if i%2!=0 else "even" for i in range(20)]

['even',
 1,
 'even',
 3,
 'even',
 5,
 'even',
 7,
 'even',
 9,
 'even',
 11,
 'even',
 13,
 'even',
 15,
 'even',
 17,
 'even',
 19]

In [30]:
## Assignment using list comprehension
## sum of even and odd numbers
LIST=[1,2,3,4,5,6,7,8,9,10]
even=0
odd=0
for i in LIST:
    if i %2==0:
        even+=i
    else:
        odd+=i
print(even)
print(odd)

30
25

In [41]:
## list comnprehension 
## print sum of even and odd
even_sum=sum([num for num in LIST if num %2==0])
odd_sum=sum([num for num in LIST if num%2 !=0])
print("{} The sum of even number".format(even_sum))
print("{} The sum of odd number".format(odd_sum))

30 The sum of even number
25 The sum of odd number

In [45]:
LIST

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
## list comprehension
[num**2 for num in LIST]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
number=[-2,-1,0,1,2,3,4]
[num if num>=0 else "The neg num" for num in number ]

['The neg num', 'The neg num', 0, 1, 2, 3, 4]

In [67]:
number=[-2,-1,0,1,2,3.4]
possum=sum([num for num in number if num>=0 ])

In [68]:
possum

6.4

In [69]:
number=[-2,-1,0,1,2,3.4]
[num for num in number if num>=0]

[0, 1, 2, 3.4]

In [70]:
number=[-2,-1,0,1,2,3.4]
[num for num in number if num<0]

[-2, -1]

In [74]:
words=["apple", "banana","cherry","date"]
[word[0] for word in words]

['a', 'b', 'c', 'd']

In [85]:
ctemp=[0,10,20,30,40,50]
[(9/5)*ctemp+32 for ctemp in ctemp]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [91]:
list2=[[1,2,3],[4,5,6],[7,8,9]]
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [89]:
### fuckin

In [94]:
[num for sublist in list2 for num ]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
## list comprehension and code

In [16]:
## what all even numbers and odd numbers till 20

for i in range(1,20):
    if i%2==0:
        print("{} even ".format(i))
    else:
        print("{}  odd".format(i))

1  odd
2 even
3  odd
4 even
5  odd
6 even
7  odd
8 even
9  odd
10 even
11  odd
12 even
13  odd
14 even
15  odd
16 even
17  odd
18 even
19  odd

In [21]:
## count how many even and odd numbers we have till 20 
even_count=0
odd_count=0
for i in range(1,21):
    if i%2==0:
        even_count+=1
       
    else:
        odd_count+=1

print("{} this is even count".format(even_count))
print("{} this is odd event".format(odd_count))

10 this is even count
10 this is odd event

In [29]:
## count sum of even and odd numbers:
even_count=0
odd_count=0
for i in range(1,20):
    if i%2==0:
        
        even_count+=i
    else:
    
        odd_count+=i

print("{} the sum of even numbers".format(even_count))
print("{} the sum of odd numbers".format(odd_count))

90 the sum of even numbers
100 the sum of odd numbers

it is a not prime number
it is a not prime number
it is a not prime number
it is a not prime number
it is a not prime number
it is a not prime number
it is a not prime number
it is a not prime number
it is a not prime number

In [44]:
## list comprehension
## make a program to check if it is a evennumber
[i if i%2==0 else "odd"for i in range(1,20) ]

['odd',
 2,
 'odd',
 4,
 'odd',
 6,
 'odd',
 8,
 'odd',
 10,
 'odd',
 12,
 'odd',
 14,
 'odd',
 16,
 'odd',
 18,
 'odd']

In [52]:
LIST=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]
even_sum=sum([num for num in LIST if num%2==0])
odd_sum=sum([num for num in LIST if num%2!=0])
print("The sum of all even number till 20 is {}".format(even_sum))
print("The sum of all odd number till 20 is {}".format(odd_sum))

The sum of all even number till 20 is 110
The sum of all odd number till 20 is 121

In [60]:
even_prod=0
odd_prod=0
for i in range(1,21):
            if i%2==0:
                even_prod=even_prod+i
            else:
                odd_prod=odd_prod+i
                
print("Product of all even number till 20 is {}".format(even_prod))
print("Product of all odd number till 20 is {}".format(odd_prod))

Product of all even number till 20 is 110
Product of all odd number till 20 is 100

In [63]:
## first make a code to check if number is neg or not first make with code than list comprehension
LIST1=[-3,4,-5,8,7,6]
for i in LIST1:
    if i>=0 : ## positive
        print("Pos num")
    else:
        print("neg num")

neg num
Pos num
neg num
Pos num
Pos num
Pos num

In [65]:
[num for num in LIST1 if num>=0]

[4, 8, 7, 6]

In [90]:
pos_sum=sum([num for num in LIST1 if num>=0])
pos_sum

25

In [66]:
[num for num in LIST1 if num<0]

[-3, -5]

In [80]:
## reverse a string
string="hello yellow dirty fellow i'm joker"
rev=len(string)-1
while rev>=0:
    print(string[rev])
    rev=rev-1

r
e
k
o
j

m
'
i

w
o
l
l
e
f

y
t
r
i
d

w
o
l
l
e
y

o
l
l
e
h

In [82]:
## print square of numbers:
LIST

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [91]:
for i in LIST:
    print("The square of {} is {}".format(i,i**2))

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100
The square of 11 is 121
The square of 12 is 144
The square of 13 is 169
The square of 14 is 196
The square of 15 is 225
The square of 16 is 256
The square of 17 is 289
The square of 18 is 324
The square of 19 is 361
The square of 20 is 400
The square of 21 is 441

In [88]:
[num**2 for num in LIST]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441]

In [100]:
##print the first word of strings:
basket=["Apple", "Basket", "cherry", "banana"]
[word[0] for word in basket]

['A', 'B', 'c', 'b']

In [107]:
## ctemp=[0,10,20,30,40,50]
## [(9/5)*ctemp+32 for ctemp in ctemp]
temp=[0,10,20,30,40,50]
for i in temp:
    print(" farhenit {}  to celusis {}".format(i,(9/5)*i+32))

 farhenit 0  to celusis 32.0
 farhenit 10  to celusis 50.0
 farhenit 20  to celusis 68.0
 farhenit 30  to celusis 86.0
 farhenit 40  to celusis 104.0
 farhenit 50  to celusis 122.0

In [108]:
[(9/5)*ctemp+32 for ctemp in temp]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [4]:
## homework question 
## prime number and 2's element , matrix list
type(4.5)
type(2)

int